.login-form {
  padding-top: 5%!important;
  min-width: 350px!important;
  max-width: 400px;
  /* opacity: 75%; */
}

.login-bg {
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 10px;
}